<div class="mb-3 form-group">
    <label for="title" class="form-label">Title</label>
    <input required type="text" class="form-control mb-4" id="text" name="title">
</div>
<div class="mb-3 form-group">
    <label for="description" class="form-label">Description</label>
    <textarea class="form-control mb-4" id="description" rows="3"></textarea>
</div>
<div class="mb-3 form-group">
    <label for="markdown" class="form-label">Markdown</label>
    <textarea class="form-control mb-4" id="markdown" rows="8"></textarea>
</div>
<button type="submit" class="btn btn-primary">Save</button>
<a href="/" class="btn btn-secondary">Cancel</a>